.bg-primary {
	padding: 15px;
}

.card-title item-name {
	//text-align:center;
	font-weight: bold;
}

.skin-image {
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 50%;
	//border-bottom: solid 1px #eee;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: gray;}
